@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.body * {
  @apply box-border;
}

.cell {
  @apply transition-all shadow-none rounded;
  background-color: #fff;
  width: 50px;
  height: 50px;
  margin: 2px;
  /* margin-left: -1px;
 margin-top: -1px; */
  /* position: absolute; */
  display: inline-block;
  position: relative;
  z-index: 1;
  /* &:before,
 &:after {
  background-color: #fff;
  content: " ";
  position: absolute;
 } */
  &:hover {
    @apply shadow-md scale-125;
    &:before,
    &:after {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    z-index: 2;
  }
  & > .node {
    @apply rounded;
    font-size: 8px;
    line-height: 12px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    &.open-node {
      border: 2px solid theme(colors.green.500);
    }
  }
}

.container {
  max-width: 830px;
  margin: 0 auto;
  @apply py-8;
}

.stepper {
  display: flex;
  align-items: center;
  & > .stepper-line {
    border-radius: 2px;
    height: 4px;
    flex-grow: 1;
    margin: 0 8px;
    background-color: theme(colors.slate.200);
    &.active {
      background-color: theme(colors.teal.400);
    }
  }
  & > .step {
    display: flex;
    align-items: center;

    & > .icon {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: theme(colors.slate.200);
      border-radius: 50%;
      margin-right: 8px;
      & > svg {
        color: #fff;
      }
    }
    &.active {
      & > .icon {
        background-color: theme(colors.teal.400);
      }
    }
  }
}

#map {
  /* @apply bg-slate-300; */
  position: relative;
  font-size: 0;
  line-height: 0;
  text-align: center;
}

.node {
  &.end-node {
    border: 2px solid #000;
    border-radius: 4px;
    span:after,
    span:before,
    &:after,
    &:before {
      background-color: #000;
      content: " ";
      display: block;
      width: 33%;
      height: 33%;
      position: absolute;
    }
    &:before {
      top: 0;
      left: 0;
    }
    &:after {
      top: 0;
      right: 0;
    }
    span:first-child {
      &:before {
        left: 33.33%;
        top: 33.33%;
      }
    }
    span:last-child {
      &:before {
        bottom: 0;
        left: 0;
      }
      &:after {
        bottom: 0;
        right: 0;
      }
    }
  }
  &.obstacle-node {
    background: transparent url(../images/crates_study_x2.png) no-repeat center;
    background-size: cover;
  }
}
